In [ ]:
!pip install numpy
!pip install pandas
import numpy as np # numpy-2.2.5
import pandas as pd # pandas-2.2.3
# this requires installing the ipykernel package in advance to work within the venv

Collecting numpy
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----------------------------- ---------- 9.4/12.6 MB 53.3 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 48.7 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.2.5
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lay\projects\zindi-microsoft-tweet-location-challenge\venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lay\projects\zindi-microsoft-tweet-location-challenge\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lay\projects\zindi-microsoft-tweet-location-challenge\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----------------------------------- ---- 10.2/11.5 MB 59.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 49.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [3]:
train_df = pd.read_csv('./data/Train_1.csv')
test_df = pd.read_csv('./data/Test.csv')
sample_submission = pd.read_csv('./data/SampleSubmission.csv')

In [4]:
train_df.head()

,tweet_id,text,location
0,ID_1001136212718088192,NaN,EllicottCity
1,ID_1001136696589631488,"Flash floods struck a Maryland city on Sunday,...",Maryland
2,ID_1001136950345109504,State of emergency declared for Maryland flood...,Maryland
3,ID_1001137334056833024,Other parts of Maryland also saw significant d...,Baltimore Maryland
4,ID_1001138374923579392,"Catastrophic Flooding Slams Ellicott City, Mar...",Ellicott City Maryland

In [ ]:
sample_submission.head(3)

                 tweet_id  location
0  ID_1001154804658286592       NaN
1  ID_1001155505459486720       NaN
2  ID_1001155756371136512       NaN

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73072 entries, 0 to 73071
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  73072 non-null  object
 1   text      16448 non-null  object
 2   location  43460 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB